{% extends "base_shortener.html" %}
{% block content %}
	<br/>
	<p class="lead">
	  <div class='col-sm-6 col-sm-offset-3 '>
				<form method="POST" action='.'>{% csrf_token %}
					<!--<input name='url' type='text' placeholder="Shorten your URL"/>-->
					{{ form.as_p }}
					{% if user.is_authenticated %}
					<input class='btn btn-primary'type="submit" value="Shorten &raquo;">
					{% else %}
					 <font color="red" size="+2">Login First to Shortener!</font> 
					{% endif %}
				</form>
			</div>
	</p>


{% endblock content %}