<!DOCTYPE HTML>
<html>
<head>
<!-- Latest compiled and minified CSS -->
<title>Url.co | {% block title %}Shorten that Url{% endblock title %}</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="http://getbootstrap.com/examples/cover/cover.css" rel="stylesheet">
<style>
body {
	background-color: #226268;
  background-image:url('http://www.desktopwallpaperhd.net/wallpapers/15/7/spitsbergen-norway-mountain-reflections-background-image-travel-wallpaper-150999.jpg');
  background-size: cover; 
}
.btn-link {
  color: #30f;
}
/*.btn-link:hover {
  color: #00000;
}*/
</style>
</head>
<body>

<br>
    <div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
          {% if user.is_authenticated %}
            <ul class="nav navbar-nav">
              <li><a href="{% url 'home' %}">Short_Your_Url</a></li>
              <li><a href="{% url 'accounts:home' %}">Profile</a></li>
              <li><a href="/view_url/">View_Your_Urls</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
            </ul>
            {% else %}
            <ul class="nav navbar-nav">
              <li><a href="{% url 'accounts:reset_password' %}">Reset Password</a></li>
            </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'accounts:login' %}">Login</a></li>
                <li><a href="{% url 'accounts:register' %}">Register</a></li>
              </ul>
            {% endif %}
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
    </div>

<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
          {% block content %}
			{% endblock content %}
          
          </div>
        </div>

      </div>

    </div>

</body>
</html>